# Bloquear listado de directorio
Options -Indexes

# Solo permitir acceso a PDFs
<FilesMatch "\.(?!pdf$)[^.]+$">
    Order allow,deny
    Deny from all
</FilesMatch>

# Bloquear ejecución de scripts
<FilesMatch "\.(php|php3|php4|php5|phtml|pl|py|jsp|asp|sh|cgi)$">
    Order allow,deny
    Deny from all
</FilesMatch>
