# Permitir acceso a archivos PDF
Options -Indexes
<FilesMatch "\.pdf$">
    Order allow,deny
    Allow from all
    Satisfy Any
</FilesMatch>

# Bloquear ejecución de scripts por seguridad
<FilesMatch "\.(php|php3|php4|php5|phtml|pl|py|jsp|asp|sh|cgi)$">
    Order allow,deny
    Deny from all
</FilesMatch>
